<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859632471271-3ojo0kbjaqq20sa2lvieq6ol9km5jshm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859632471271-3ojo0kbjaqq20sa2lvieq6ol9km5jshm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859632471271-2i4ppsf5lcf3evjmk0rnooon7c8q3697.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrVtr_gxr5opSqsui5WILOXoSTWdFEXvY</string>
	<key>GCM_SENDER_ID</key>
	<string>859632471271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterappdogandcat</string>
	<key>PROJECT_ID</key>
	<string>onthidaihoc-1d48e</string>
	<key>STORAGE_BUCKET</key>
	<string>onthidaihoc-1d48e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859632471271:ios:e4efbfedf19d6e90f2e642</string>
	<key>DATABASE_URL</key>
	<string>https://onthidaihoc-1d48e.firebaseio.com</string>
</dict>
</plist>